.image-container {
    background-image: url("../img/header.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 40vh;
    align-items: center;
}

.grid-container {
    display: grid;
    gap: normal;
    justify-items: stretch;
    grid-auto-flow: row;
    border: 3px solid #000;
    grid-auto-columns: 1fr;
    max-height: 75%;
    width: auto;
    grid-template-areas: 
            "a b"
            "c d";
    gap: 10px; /* Пространство между ячейками */
  }

.grid-item {
    width: 100%; /* Изображения занимают всю ширину столбца */
    height: 100%; /* Сохранение пропорций изображения */
    background-size: cover; /* Растягивает изображение, чтобы оно полностью заполнило ячейку */
    object-fit: cover;
}



.element {
    border: 1px solid #000;
  }

.image-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Два столбца */
    grid-template-columns: 0.5fr 0.5fr;
    grid-template-rows: repeat(2, 0.5fr); /* Можете заменить 'auto' на нужную высоту строк */
    gap: 20px; /* Промежуток между изображениями */
    border: 1px solid #000; /* Граница сплошная черная линия */
}
.image {
    width: 100%; /* Изображения занимают всю ширину столбца */
    height: auto; /* Сохранение пропорций изображения */
    object-fit: cover; /* Растягивает изображение, чтобы оно полностью заполнило ячейку */
}
